<html>
  <head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="https://unpkg.com/vue2-leaflet@2.2.1/dist/vue2-leaflet.min.js"></script>
    <title>Singapore 1-hour PM2.5</title>
  </head>
  <body>
    <div id="app" class="container-fluid">
      <h1>Singapore Air Quality: 1-hour PM 2.5</h1>
      <table class="table">
      <thead>
        <th scope="col">Region</th>
        <th scope="col">1-hr PM2.5</th>
        <th scope="col">Est. PSI</th>
      </thead>
      </tbody>
        <tr scope="row" v-for="item in psiReadings">
          <td>{{item[0]}}</td>
          <td>{{item[1]}} µg/m<sup>3</sup></td>
          <td class="btn" v-bind:class="item[2] | formatPsiStatus">{{item[2]}}</td>
        </tr>
      </tbody>
      <caption class="small">1-hr PM2.5 data retrieve from NEA: <a href="https://api.data.gov.sg/v1/environment/pm25" rel="noopener noreferrer" target="_blank">api.data.gov.sg</a> (last update {{ info.update_timestamp | formatDateTime }})</caption>
      <caption class="small">Est. PSI calculated using above 1-hr PM2.5 values with same  <a href="https://www.haze.gov.sg/docs/default-source/faq/computation-of-the-pollutant-standards-index-(psi).pdf" rel="noopener noreferrer" target="_blank">tables</a> for 24hr PM2.5 </caption>
      </table>
      <l-map class="map" :zoom="zoom" :center="center">
        <l-tile-layer :url="url"></l-tile-layer>
            <div v-for="item in psiReadings">
              <l-marker :lat-lng=region_location[item[0]]>
                  <l-popup>
                    <table class="table">
                      <tbody>
                      <tr>
                        <td scope="row" class="btn" v-bind:class="item[2] | formatPsiStatus">PSI: {{item[2]}}</td>
                     </tr>
                     <tr>
                       <td scope="row" class="btn">{{item[1]}} µg/m<sup>3</sup></td>
                     </tr>
                    </tbody>
                  </table>
                  </l-popup>
              </l-marker>
            </div>
            <l-control-attribution position="topright" prefix="© OpenStreetMap contributors" >
      </l-map>
    </div>
    <script src="index.js"></script>
  </body>
</html>
